.character-container{
  display: grid;  
  grid-gap: 5px;  
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); 
  padding: 10px;
  background: #222431;
  max-width: 620px;
}